<%= form_for @holiday, method: "PUT" do |f| %> 
<div class="row mt-3 mb-3 ml-3 mr-3">
  <div class="col">
    <b>Holiday Settings</b>
  </div>
  <div class="col text-right">
    <%= f.submit "Update Settings", class: "btn btn-sm btn-primary mr-3 btn-sm" %>
    <a href="/holidays" class="btn btn-secondary btn-sm"><i class="fas fa-times"></i> Cancel</a>
  </div>
</div>
<div class="row pl-3 pr-3 ml-3 mr-3">
  <div class="col border-gray pt-3 rounded bg-gray form-group">
    <div class="row pb-2">
     <div class="col-6">Date</div>      
    </div>
    <div class="row">   
      <div class="col-6"> 
        <%= f.date_field :date , value: "#{@holiday.date}", class:"form-control form-control-sm"%>
      </div>                  
    </div>
    <div class="row pt-4">
      <div class="col-6">
        <p>Description</p>
      </div>     
    </div>
    <div class="row pb-4">
      <div class="col-6">
        <%= f.text_area :description , value: "#{@holiday.description}", rows: 5, class:"form-control form-control-sm"%>
      </div>       
    </div>
  </div> 
</div>  
<% end %>