<div class="row mt-3 mb-3 ml-3 mr-3">
  <div class="col">
    <b>Holiday Settings</b>
  </div>
  <div class="col text-right">  
    <a href="/holidays/new" class="btn btn-primary btn-sm">Add Holidays</a>
  </div>
</div>
<div class="row pl-3 pr-3 ml-3 mr-3">
  <div class="col border-gray rounded bg-gray form-group">    
      <table class="table table-hover">
      <thead>
        <tr>
          <th>Date</th>
          <th>Description</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody>
        <% @holidays.each do |holiday| %>
          <tr>            
            <td><%= holiday.date %></td>
            <td style="width : 850px"><p><%= holiday.description%></p></td>
            <td>
              <%= link_to '<i class="fas fa-pencil-alt"></i> Edit'.html_safe, edit_holiday_path(holiday), :class => "mr-3"%>
              <%= link_to '<i class="fas fa-trash-alt"></i> Delete'.html_safe, holiday_path(holiday) , method: :delete, data: {confirm: "Are you sure?"}, :class => "text-danger"%>
            </td>
          </tr>  
        <% end %>
      </tbody>
    </table>
  </div> 
</div>  
