<%= form_for @holiday, method: "POST" do |f| %> 
<div class="row mt-3 mb-3 ml-3 mr-3">
  <div class="col">
    <b>Holiday Settings</b>
  </div>
  <div class="col text-right">
    <%= f.submit "Save Settings", class: "btn btn-sm btn-primary mr-3 btn-sm" %>
    <a href="/holidays" class="btn btn-secondary btn-sm"><i class="fas fa-times"></i> Cancel</a>
  </div>
</div>
 <% if @holiday.errors.full_messages.any? %>
    <% @holiday.errors.messages.values.each do |error_message| %>     
      <%= puts "-----------#{error_message.first}----------"%>
      <script>toastr.warning('<%= error_message.first %>')</script>
    <% end %>     
  <% end %>    
<div class="row pl-3 pr-3 ml-3 mr-3">
  <div class="col border-gray pt-3 rounded bg-gray form-group">
    <div class="row">
     <div class="col-6">
        <%= f.label :date , "Date"%>
      </div>      
    </div>
    <div class="row">
     <div class="col-6">
       <%= f.date_field :date,"data-provide"=>'datepicker',class: 'form-control form-control-sm'%>      
      </div>   
    </div>    
    <div class="row pt-4">
      <div class="col-6">
      <%= f.label :description, "Description" %>
      </div>
    </div>   
    <div class="row pb-4">
      <div class="col-6">
        <%= f.text_area :description, rows: 5, class: 'form-control form-control-sm' %>
      </div>
    </div>                
  </div> 
</div>  
<% end %>
