<div class="row mt-3 mb-3 ml-3 mr-3">
  <div class="col">
    <b>General Settings</b>
  </div>
  <div class="col text-right">
    <% if @general_settings.present? %>
      <a href="/general_settings/<%=@general_settings.try(:id)%>/edit" class="btn btn-primary btn-sm"><i class="fas fa-pencil-alt"></i> Edit Settings</a>
    <% else %>
      <a href="/general_settings/new" class="btn btn-primary btn-sm">Add Settings</a>
    <% end %>
  </div>
</div>
<div class="row pl-3 pr-3 ml-3 mr-3">
  <div class="col border-gray pt-3 rounded bg-gray form-group">
    <div class="row pb-1">
      <div class="col">
        <div class="form-group">
          <label class="font-weight-light">Freshdesk domain</label><br/>
          <span class="gray-font"><%= @general_settings.try(:freshdesk_domain) || 'yourdomain.freshdesk.com' %></span>
          <!-- <input type="text" class="form-control form-control-sm" value="<%= @general_settings.try(:freshdesk_domain) || 'yourdomain.freshdesk.com' %>" readonly/> -->
        </div>
        <div class="form-group mt-4">
          <label class="font-weight-light">Freshdesk api key</label><br/>
          <span class="gray-font"><%= @general_settings.try(:freshdesk_api_key) || 'xxxxxxxxxxxxxx' %></span>
        </div>
      </div>
    </div>
  </div>
</div>