<div class="row mt-3 mb-3 ml-3 mr-3">
  <div class="col">
    <b>Add General Settings</b>
  </div>
  <div class="col text-right">
    <a href="/general_settings" class="btn btn-secondary btn-sm"><i class="fas fa-times"></i> Cancel</a>
  </div>
</div>
<div class="row pl-3 pr-3 ml-3 mr-3">
  <div class="col border-gray pt-3 rounded bg-gray form-group">
    <div class="row pb-1">
      <div class="col">
        <%= form_for @general_settings, method: "POST" do |f| %>
          <% if @general_settings.errors.present? %>
            <script>toastr.warning('<%= @general_settings.try(:errors).try(:messages).try(:values).try(:flatten).try(:first) %>')</script>
          <% end %>
          <div class="form-group">
            <%= f.label "Freshdesk Domain", class: "font-weight-light" %>
            <%= f.text_field :freshdesk_domain, class: "form-control form-control-sm", autofocus: true %>
            <small class="form-text text-muted">Enter your freshdesk portal domain</small>
          </div>
          <div class="form-group">
            <%= f.label "Freshdesk API Key", class: "font-weight-light" %>
            <%= f.text_field :freshdesk_api_key, class: "form-control form-control-sm" %>
            <small class="form-text text-muted">Enter your freshdesk portal API key</small>
          </div>
          <div class="form-group text-right">
            <%= f.submit "Save Settings", class: "btn btn-sm btn-primary btn-sm" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>