<div class="container">
    <div class="row">
      <div class="col-md-5 mx-auto">
        <div id="first">
          <div class="myform form ">
            <div class="logo mb-4">
              <div class="col-md-12 text-center mb-4 mt-4">
                <img src="<%= image_path("logo.png") %>" height="40px"/>
              </div>
              <div class="col-md-12 text-center">
                <h4>Forget Password</h4>
              </div>
            </div>
            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
              <div class="form-group">
                <label for="exampleInputEmail1">Email</label>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Enter your email" %>
              </div>
              <div class="form-group text-center ">
                <button type="submit" class=" btn btn-block mybtn btn-primary">Send me reset password instructions</button>
              </div>
              <div class="col-md-12 ">
                <div class="login-or">
                    <hr class="hr-or">
                    <span class="span-or">or</span>
                </div>
              </div>
              <div class="form-group">
                <p class="text-center"><a href="/users/sign_in">Login</a></p>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>   
















<!-- 
<h2>Forgot your password?</h2>

<%#= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%#= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%#= f.label :email %><br />
    <%#= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actions">
    <%#= f.submit "Send me reset password instructions" %>
  </div>
<%# end %>

<%#= render "devise/shared/links" %> -->
