<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><img src="<%= image_path("logo.png") %>" height="40px"/></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item <%= 'active' if controller_name=='general_settings'%>">
          <a class="nav-link" href="/"><i class="fas fa-tools"></i> General Settings</a>
        </li>
        <li class="nav-item <%= 'active' if controller_name=='tickets'%>">
            <a class="nav-link" href="/tickets"><i class="fas fa-ticket-alt"></i> Tickets</a>
          </li>
        <li class="nav-item <%= 'active' if controller_name=='sla_settings'%>"> 
          <a class="nav-link" href="/sla_settings"><i class="fas fa-stopwatch"></i> SLA Settings</a>
        </li>
        <li class="nav-item <%='active' if controller_name=='business_hours'%>">
          <a class="nav-link" href="/business_hours"><i class="fas fa-clock"></i> Business Hours</a>
        </li>
        <li class="nav-item <%= 'active' if controller_name=='holidays'%>">
          <a class="nav-link" href="/holidays"><i class="fas fa-door-closed"></i></i>Holidays</a>
        </li>
        <li class="nav-item <%= 'active' if controller_name=='user_settings'%>">
          <a class="nav-link" href="/user_settings"><i class="fas fa-user-cog"></i> Users</a>
        </li>
        <li class="nav-item <%= 'active' if controller_name=='api'%>">
          <a class="nav-link" href="/access_settings"><i class="fas fa-key"></i> API Settings</a>
        </li>
      </ul>
      <ul class="navbar-nav pull-right">
        <li class="nav-item dropdown pull-right">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-user"></i> <%= current_user.email %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/user_settings/<%= current_user.id %>/edit"><i class="fas fa-user-edit"></i> Edit Profile</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" data-method="delete" href="/users/sign_out" rel="nofollow"><i class="fas fa-power-off"></i> Log out</a>
            <%#= link_to "Log out", destroy_user_session_path, :method => :delete, class: "dropdown-item" %>
          </div>
        </li>
      </ul>
    </div>
  </nav>