<%= form_for @business_hours, method: "PUT" do |f| %> 
<div class="row mt-3 mb-3 ml-3 mr-3">
  <div class="col">
    <b>Business Hours</b>
  </div>   
  <div class="col text-right">
    <%= f.submit "Save Settings", class: "btn btn-sm btn-primary mr-3 btn-sm" %>
    <a href="/business_hours" class="btn btn-secondary btn-sm"><i class="fas fa-times"></i> Cancel</a>
  </div>
</div>
<% if @business_hours.errors.full_messages.any? %>
    <% @business_hours.errors.messages.values.each do |error_message| %>     
      <%= puts "-----------#{error_message.first}----------"%>
      <script>toastr.warning('<%= error_message.first %>')</script>
    <% end %>     
  <% end %>    
<div class="row pl-3 pr-3 ml-3 mr-3">
  <div class="col border-gray pt-3 rounded bg-gray form-group">
    <div class="row">     
      <div class="col d-flex">
        <p class="font-weight-light mt-1 mr-2">Time zone : </p>
          <%= f.select :time_zone, options_for_select(@identifiers), {}, class: "form-control form-control-sm w-25",
          style:"margin-left:130px"%>              
      </div>
    </div>
    <div class="row mt-1 pb-4" >
      <div class="col-2 font-weight-light"><b>Working Days</b></div>
      <div class="col-3 font-weight-light"><b>Start Time</b></div>
      <div class="col-3 font-weight-light"><b>End Time</b></div>
    </div>
    
    <div class="form-group row pb-2 ">
      <div class="col-2">         
        <%= f.check_box :working_on_monday %>                  
        <%= f.label :working_on_monday,"Monday" %>        
      </div>
      <div class="col-3">        
        <%= f.time_field :mon_st_time , value: "#{@business_hours.mon_st_time}", class:"form-control form-control-sm",min: 'hh:mm:ss',max: 'hh:mm:ss'%>
      </div>
      <div class="col-3">
        <%=f.time_field :mon_end_time, class:"form-control form-control-sm", value:"#{@business_hours.mon_end_time}",min: 'hh:mm:ss',max: 'hh:mm:ss'%>
      </div>
    </div>
    <div class="form-group row pb-2 " >
      <div class="col-2">
        <%= f.check_box :working_on_tuesday %>
        <%= f.label :working_on_tuesday, "Tuesday" %>
      </div>
      <div class="col-3">
        <%=f.time_field :tue_st_time, class:"form-control form-control-sm", value: "#{@business_hours.tue_st_time}",min: 'hh:mm:ss',max: 'hh:mm:ss'%>
      </div>
      <div class="col-3">
        <%=f.time_field :tue_end_time, class:"form-control form-control-sm", value: "#{@business_hours.tue_end_time}",min: 'hh:mm:ss',max: 'hh:mm:ss'%>
      </div>
    </div>
    <div class="form-group row pb-2 " >
      <div class="col-2">
        <%= f.check_box :working_on_wednesday %>
        <%= f.label :working_on_wednesday, "Wednesday" %>
      </div>
      <div class="col-3">
        <%=f.time_field :wed_st_time, class:"form-control form-control-sm", value: "#{@business_hours.wed_st_time}",min: 'hh:mm:ss',max: 'hh:mm:ss'%>
      </div>
      <div class="col-3">
        <%=f.time_field :wed_end_time, class:"form-control form-control-sm", value: "#{@business_hours.wed_end_time}",min: 'hh:mm:ss',max: 'hh:mm:ss'%>
      </div>
    </div>
     <div class="form-group row pb-2 " >
      <div class="col-2">
        <%= f.check_box :working_on_thursday %>
        <%= f.label :working_on_thursday, "Thursday" %>
      </div>
      <div class="col-3">
        <%=f.time_field :thu_st_time, class:"form-control form-control-sm", value: "#{@business_hours.thu_st_time}",min: 'hh:mm:ss',max: 'hh:mm:ss'%>
      </div>
      <div class="col-3">
        <%=f.time_field :thu_end_time, class:"form-control form-control-sm", value: "#{@business_hours.thu_end_time}",min: 'hh:mm:ss',max: 'hh:mm:ss'%>
      </div>
    </div>
     <div class="form-group row pb-2 " >
      <div class="col-2">
        <%= f.check_box :working_on_friday %>
        <%= f.label :working_on_friday, "Friday" %>
      </div>
      <div class="col-3">
        <%=f.time_field :fri_st_time, class:"form-control form-control-sm", value: "#{@business_hours.fri_st_time}",min: 'hh:mm:ss',max: 'hh:mm:ss'%>
      </div>
      <div class="col-3">
        <%=f.time_field :fri_end_time, class:"form-control form-control-sm", value: "#{@business_hours.fri_end_time}",min: 'hh:mm:ss',max: 'hh:mm:ss'%>
      </div>
    </div>
    <div class="form-group row pb-2 " >
      <div class="col-2">
        <%= f.check_box :working_on_saturday %>
        <%= f.label :working_on_saturday, "Saturday" %>
      </div>
      <div class="col-3">
        <%=f.time_field :sat_st_time, class:"form-control form-control-sm", value: "#{@business_hours.sat_st_time}",min: 'hh:mm:ss',max: 'hh:mm:ss'%>
      </div>
      <div class="col-3">
        <%=f.time_field :sat_end_time, class:"form-control form-control-sm", value: "#{@business_hours.sat_end_time}",min: 'hh:mm:ss',max: 'hh:mm:ss'%>
      </div>
    </div>
    <div class="form-group row pb-2 " >
      <div class="col-2">
        <%= f.check_box :working_on_sunday %>
        <%= f.label :working_on_sunday, "Sunday" %>
      </div>
      <div class="col-3">
        <%=f.time_field :sun_st_time, class:"form-control form-control-sm", value: "#{@business_hours.sun_st_time}",min: 'hh:mm:ss',max: 'hh:mm:ss'%>
      </div>
      <div class="col-3">
        <%=f.time_field :sun_end_time, class:"form-control form-control-sm", value: "#{@business_hours.sun_end_time}",min: 'hh:mm:ss',max: 'hh:mm:ss'%>
      </div>
    </div>
</div>
<% end %>