<div class="row mt-3 mb-3 ml-3 mr-3">
  <div class="col">
    <b>Business Hours</b>
  </div>   
   <div class="col text-right">
    <% if @business_hours.present? %>
      <a href="/business_hours/<%=@business_hours.try(:id)%>/edit" class="btn btn-primary btn-sm"><i class="fas fa-pencil-alt pr-1"></i> Edit Business Hours</a>
    <% else %>
       <a href="/business_hours/new" class="btn btn-primary btn-sm">Add Business Hours</a>
    <% end %>
  </div>
</div>

<div class="row pl-3 pr-3 ml-3 mr-3">
  <div class="col border-gray pt-3 rounded bg-gray form-group"> 
    <div class="row">
     <div class="col d-flex">
        <p class="font-weight-light mt-1 mr-2">Time zone : </p>
        <input type="text" value="<%= @business_hours.try(:time_zone)%>" class ="form-control form-control-sm w-25" disabled style="margin-left:130px">
      </div>
    </div>
    <div class="row mt-1 pb-4" >
      <div class="col-2 font-weight-light"><b>Working Days</b></div>
      <div class="col-3 font-weight-light"><b>Start Time</b></div>
      <div class="col-3 font-weight-light"><b>End Time</b></div>
    </div>
  
    <div class="form-group row pb-2">
      <div class="col-2">
        <%if @business_hours.try(:working_on_monday)%>     
          <label class="gray-font"><input type="checkbox" checked disabled> Monday</label>         
        <% else %>
          <label><input type="checkbox" disabled> Monday</label>         
        <% end %>
      </div>
      <div class="col-3">
        <input type="time" class="form-control form-control-sm", value="<%= @business_hours.try(:mon_st_time)%>", min="hh:mm", max="hh:mm" disabled>
      </div>
      <div class="col-3">
        <input type="time" class="form-control form-control-sm", value="<%= @business_hours.try(:mon_end_time)%>", min="hh:mm", max="hh:mm" disabled>
      </div>
    </div>
    <div class="form-group row pb-2">
      <div class="col-2">
        <%if @business_hours.try(:working_on_tuesday)%>     
          <label class="gray-font"><input type="checkbox" checked disabled> Tuesday</label>         
        <% else %>
          <label><input type="checkbox" disabled> Tuesday</label>         
        <% end %>
      </div>
      <div class="col-3">
        <input type="time" class="form-control form-control-sm", value="<%= @business_hours.try(:tue_st_time)%>", min="hh:mm", max="hh:mm" disabled>
      </div>
      <div class="col-3">
        <input type="time" class="form-control form-control-sm", value="<%= @business_hours.try(:tue_end_time)%>", min="hh:mm", max="hh:mm" disabled>
      </div>
    </div>
    <div class="form-group row pb-2">
      <div class="col-2">
        <%if @business_hours.try(:working_on_wednesday)%>     
          <label class="gray-font"><input type="checkbox" checked disabled> Wednesday</label>         
        <% else %>
          <label><input type="checkbox" disabled> Wednesday</label>         
        <% end %>
      </div>
      <div class="col-3">
        <input type="time" class="form-control form-control-sm", value="<%= @business_hours.try(:wed_st_time)%>", min="hh:mm", max="hh:mm" disabled>
      </div>
      <div class="col-3">
        <input type="time" class="form-control form-control-sm", value="<%= @business_hours.try(:wed_end_time)%>", min="hh:mm", max="hh:mm" disabled>
      </div>
    </div>
     <div class="form-group row pb-2">
      <div class="col-2">
        <%if @business_hours.try(:working_on_thursday)%>     
          <label class="gray-font"><input type="checkbox" checked disabled> Thursday</label>         
        <% else %>
          <label><input type="checkbox" disabled> Thursday</label>         
        <% end %>
      </div>
      <div class="col-3">
        <input type="time" class="form-control form-control-sm", value="<%= @business_hours.try(:thu_st_time)%>", min="hh:mm", max="hh:mm" disabled>
      </div>
      <div class="col-3">
        <input type="time" class="form-control form-control-sm", value="<%= @business_hours.try(:thu_end_time)%>", min="hh:mm", max="hh:mm" disabled>
      </div>
    </div>
    <div class="form-group row pb-2">
      <div class="col-2">
        <%if @business_hours.try(:working_on_friday)%>     
          <label class="gray-font"><input type="checkbox" checked disabled> Friday</label>         
        <% else %>
          <label><input type="checkbox" disabled> Friday</label>         
        <% end %>
      </div>
      <div class="col-3">
        <input type="time" class="form-control form-control-sm", value="<%= @business_hours.try(:fri_st_time)%>", min="hh:mm", max="hh:mm" disabled>
      </div>
      <div class="col-3">
        <input type="time" class="form-control form-control-sm", value="<%= @business_hours.try(:fri_end_time)%>", min="hh:mm", max="hh:mm" disabled>
      </div>
    </div>
    <div class="form-group row pb-2">
      <div class="col-2">
        <%if @business_hours.try(:working_on_saturday)%>     
          <label class="gray-font"><input type="checkbox" checked disabled> Saturday</label>         
        <% else %>
          <label><input type="checkbox" disabled> Saturday</label>         
        <% end %>
      </div>
      <div class="col-3">
        <input type="time" class="form-control form-control-sm", value="<%= @business_hours.try(:sat_st_time)%>", min="hh:mm", max="hh:mm" disabled>
      </div>
      <div class="col-3">
        <input type="time" class="form-control form-control-sm", value="<%= @business_hours.try(:sat_end_time)%>", min="hh:mm", max="hh:mm" disabled>
      </div>
    </div>
     <div class="form-group row pb-2">
      <div class="col-2">
        <%if @business_hours.try(:working_on_sunday)%>     
          <label class="gray-font"><input type="checkbox" checked disabled> Sunday</label>         
        <% else %>
          <label><input type="checkbox" disabled> Sunday</label>         
        <% end %>
      </div>
      <div class="col-3">
        <input type="time" class="form-control form-control-sm", value="<%= @business_hours.try(:sun_st_time)%>", min="hh:mm", max="hh:mm" disabled>
      </div>
      <div class="col-3">
        <input type="time" class="form-control form-control-sm", value="<%= @business_hours.try(:sun_end_time)%>", min="hh:mm", max="hh:mm" disabled>
      </div>
    </div>   
</div>