<div class="row mt-3 mb-3 ml-3 mr-3">
  <div class="col">
    <b>Tickets List</b>
  </div>
</div>
<div class="row mt-3 mb-3 ml-3 mr-3">
  <div class="col">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Ticket Id</th>
          <th scope="col">Subject</th>
          <th scope="col">Priority</th>
          <th scope="col">Last Status</th>
          <th scope="col">Current Status</th>
          <th scope="col">Time Spent</th>
          <th scope="col">Violation Status</th>
        </tr>
      </thead>
      <tbody>
        <% @tickets.each do |ticket| %>
          <tr>          
            <td><%= ticket.fd_data["id"] %></td>
            <td><%= ticket.fd_data["subject"] %></td>
            <td><%= ticket.try(:priority).try(:name) %></td>
            <td><%= ticket.try(:last_status).try(:name) %></td>
            <td><%= ticket.try(:current_status).try(:name) %></td>
            <td>
              <%if ticket.ticket_histories.group_by(&:ticket_id)[ticket.id].present? %>
                <% ticket.ticket_histories.group_by(&:status_id).each do |history|%>                                
                  <%= ticket.get_status(history.first).try(:name) %> - 
                  <% 
                    tp = history.last.sum(&:time_spent)
                    mm, ss = tp.divmod(60)
                    hh, mm = mm.divmod(60)
                    dd, hh = hh.divmod(24)
                  %>
                  <%= "%dD %dH %dM %dS" % [dd, hh, mm, ss] %><br/>
                <% end %>
              <% end %>
            </td>
            <td>
              <%if ticket.ticket_histories.group_by(&:ticket_id)[ticket.id].present? %>
                <% ticket.ticket_histories.group_by(&:status_id).each do |history|%>                            
                  <% tp = history.last.sum(&:time_spent) %>
                  <%= ticket.violation_status(tp,history.last.last.status_id) %><br/>
                <% end %>
              <% end %>
            </td>
          </tr>  
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col pull-right">
    <%= paginate @tickets %>
  </div>
</div>