<div class="row mt-3 mb-3 ml-3 mr-3">
  <div class="col">
    <b>New User</b>
  </div>
  <div class="col text-right">
    <a href="/user_settings" class="btn btn-secondary btn-sm"><i class="fas fa-times"></i> Cancel</a>
  </div>
</div>
<div class="row pl-3 pr-3 ml-3 mr-3">
  <div class="col border-gray pt-3 rounded bg-gray form-group">
    <div class="row pb-1">
      <div class="col">
        <%= form_for @user, method: "POST", url: user_settings_path do |f| %>
          <% if @user.errors.present? %>
            <script>toastr.warning('<%= @user.try(:errors).try(:full_messages).try(:first) %>')</script>
          <% end %>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <%= f.label "Full Name", class: "font-weight-light" %>
                <%= f.text_field :full_name, class: "form-control form-control-sm", autofocus: true %>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <%= f.label "Email", class: "font-weight-light" %>
                <%= f.email_field :email, class: "form-control form-control-sm" %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <%= f.label "Password", class: "font-weight-light" %>
                <%= f.password_field :password, class: "form-control form-control-sm" %>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <%= f.label "Password Confirmation", class: "font-weight-light" %>
                <%= f.password_field :password_confirmation, class: "form-control form-control-sm" %>
              </div>
            </div>
          </div>
          <div class="form-group text-right">
            <%= f.submit "Save User", class: "btn btn-primary btn-sm" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>