<div class="container">
  <div class="row">
    <div class="col-md-5 mx-auto">
      <div id="first">
        <div class="myform form ">
          <div class="logo mb-4">
            <div class="col-md-12 text-center mb-4 mt-4">
              <img src="<%= image_path("logo.png") %>" height="40px"/>
            </div>
            <div class="col-md-12 text-center">
              <h4>Login</h4>
            </div>
          </div>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-group">
              <label for="exampleInputEmail1">Email</label>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Enter your email" %>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Password</label>
              <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "Enter your password" %>
            </div>
            <% if devise_mapping.rememberable? %>
              <div class="form-group">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end %>
            <div class="form-group text-center ">
              <button type="submit" class=" btn btn-block mybtn btn-primary">Login</button>
            </div>
            <div class="col-md-12 ">
              <div class="login-or">
                  <hr class="hr-or">
                  <span class="span-or">or</span>
              </div>
            </div>
            <div class="form-group">
              <p class="text-center"><a href="/users/password/new" id="signup">Forget your password?</a></p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>   


















<!-- 
<h2>Log in</h2>

<%#= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%#= f.label :email %><br />
    <%#= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%#= f.label :password %><br />
    <%#= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <%# if devise_mapping.rememberable? %>
    <div class="field">
      <%#= f.check_box :remember_me %>
      <%#= f.label :remember_me %>
    </div>
  <%# end %>

  <div class="actions">
    <%#= f.submit "Log in" %>
  </div>
<%# end %>

<%#= render "devise/shared/links" %> -->
