<%= form_tag "/upate_sla_settings" do %>
<div class="row mt-3 mb-3 ml-3 mr-3">
  <div class="col">
    <b>Sla Settings</b>
  </div>  
  <div class="col text-right">
    <%= submit_tag "Save Settings", class:"btn btn-primary btn-sm mr-3", data: { disable_with: false } %>
    <a href="/sla_settings" class="btn btn-secondary btn-sm"><i class="fas fa-times"></i> Cancel</a>
  </div>
</div>
<div class="row pl-3 pr-3 ml-3 mr-3">
  <div class="col border-gray pt-3 rounded bg-gray form-group">
    <div class="row pb-2 border-bottom">
    <div class="col"><b>Status</b></div>
      <% @priorities.each do |data|%>      
      <div class="col text-center">
        <b><%= data.name%></b>
      </div>
      <% end %>
    </div>

  <% @sla_settings.sort.group_by(&:status_id).each do |key,value|%>
    <div class="row form-group pl-1 mt-3">
      <div class="col">
        <%= value.first.status.name%>
      </div>
      <% value.sort.each do |sla_setting|%>
        <div class="col text-center d-flex justify-content-center">
          <%= text_field_tag "sla_settings[][hours]" , sla_setting.hours, class:"form-control form-control-sm w-25 mr-1", placeholder: "HH", type: "number", min: "0", max: "99" %>
          <%= text_field_tag "sla_settings[][minutes]", sla_setting.minutes, class:"form-control form-control-sm w-25 mr-1", placeholder: "MM", type: "number", min: "0", max:"60" %>
          <%= hidden_field_tag "sla_settings[][status_id]", sla_setting.status.id %>
          <%= hidden_field_tag "sla_settings[][priority_id]", sla_setting.priority.id %>
          <%= hidden_field_tag "sla_settings[][id]", sla_setting.id%>
        </div>      
      <% end %>
    </div>
  <% end %>
</div>
</div>
<% end %>
