<div class="row mt-3 mb-3 ml-3 mr-3">
  <div class="col">
    <b>SLA List</b>
  </div>
  <div class="col text-right">
    <% if @sla_settings.present?%>
     <a href="/sla_settings/<%=@sla_settings.first.try(:status_id)%>/edit" class="btn btn-primary btn-sm">Edit SLA</a>
    <% else %>
      <a href="/sla_settings/new" class="btn btn-primary btn-sm">New SLA</a>
    <% end %>
  </div>
</div>

<% if @sla_settings.present?%>
<div class="row pl-3 pr-3 ml-3 mr-3">
  <div class="col border-gray pt-3 rounded bg-gray form-group">
    <div class="row pb-2 border-bottom">
    <div class="col"><b>Status</b></div>
      <% @priorities.each do |priority|%>      
      <div class="col text-center"><b><%= priority.name%></b></div>
    <% end %>
    </div>

<% @sla_settings.sort.group_by(&:status_id).each do |key,value|%>
  <div class="row form-group pl-1 mt-3">
    <div class="col">
      <%= value.first.status.name%>
    </div>
    <% value.sort.each do |sla_setting|%>
      <div class="col text-center d-flex justify-content-center">
        <input value="<%= sla_setting.hours%>" class="form-control form-control-sm w-25 mr-1" placeholder="00" type="number" min='0' disabled>
        <input value="<%= sla_setting.minutes%>" class="form-control form-control-sm w-25 mr-1" placeholder="00" type="number" min='0' disabled>
      </div>      
    <% end %>
  </div>
<% end %>

<% else %>
<div class="row mt-3 mb-3 ml-3 mr-3">
  <h4 class="container col border-gray pt-3 rounded bg-gray mx-3 form-group text-center" >
  <div class="mb-4"><i class="fas fa-info-circle fa-2x"></i></div>
  <a href="/sla_settings/new">Create SLA</a>
  </h4>
</div>
<% end %>