<!DOCTYPE html>
<html>
  <head>
    <title>JellyFish</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'login', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice.present? %>
    <script>toastr.success('<%= notice %>')</script>
    <% elsif  alert.present? %>
    <script>toastr.error('<%= alert %>')</script>
    <% end %>
    <%= yield %>
  </body>
</html>
